
node_modules/yeast/package.json
node_modules/.bin/acorn
node_modules/.bin/browser-pack
node_modules/*
libpostal
compile/*
*.mp3
data/SCcache/*
data/SCcache/*.json
data/neural/*
*.DS_Store
*DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
package-lock.json
logs/*
sessions/*
data/mapping/*
