@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
body {
    background:#f2f2f2;
    display: block;
    padding: 0.385em;
    font-size: 13px;
    font-family: "Helvetica Neue", "SF Pro Display", "SF Pro Icons", "Helvetica", "Arial", sans-serif !important;
    overflow-y: hidden;
    overflow-x: hidden;
}
hr
{
    /*background-image:url("../img/hr3.png");
    background-repeat: no-repeat;*/
    /*position: relative;
    border-bottom: solid 0.154em #e5e5e5;
    box-shadow: inset 0px -8px 0px 0px #fff, inset 0px -10px 0px 0px #e5e5e5;
    border: 0;
    display: block;
    width: 75%;
    height: 0;
    text-align:right;
    margin-right:0;
    padding: 1.923em;*/
    border: 0;
    border-top: solid 0.154em #ddd;
}
::-webkit-scrollbar             {width:         12px;background-color: #ebebeb;}
::-webkit-scrollbar-track       {border-radius: 0px;}
::-webkit-scrollbar-thumb       {border-radius: 0px;background-color: #bebebe;}
::-webkit-scrollbar-thumb:hover {border-radius: 0px; background-color: #7C7972;}
img {
    max-width: 100%;
}
input, textarea {
  max-width: 100%;
}
select.sort {
    border: 0 !important;  
    -webkit-appearance: none;  
    -moz-appearance: none; 
    background: #0088cc url(../img/select-arrow.png) no-repeat 95% center;
    font-size: 1.308em;
    width: 360px; 
    text-indent: 0.01px; 
    text-overflow: ""; 

    color: #000;
    background-color: #ebebeb;
    border-radius: 15px;
    padding: 5px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
button.sort {
    border: 0 !important;  
    font-size: 1em;
    text-indent: 0.01px; 
    margin-top: 10px;

    color: #000;
    background-color: #ebebeb;
    border-radius: 2px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
.sort {
    transition: background-color 0.15s easeout;
}
button.sort:active {
    background-color: darkgrey;

}
button.passcode {
    border: 0 !important;  
    font-size: 1em;
    text-indent: 0.01px; 
    margin-top: 10px;

    color: #000;
    background-color: #ebebeb;
    border-radius: 100%;
    padding: 10px;
    box-shadow: inset 0 0 5px rgba(000,000,000, 0.5);
}
.passcode {
    transition: 0.5s easeout;
}
button.passcode:active {
    background-color: darkgrey;
}
button.passcode:hover {
    background-color: grey;
}

img.noload {
    background: url("../img/loading.gif") 50% no-repeat !important;
    position: relative;
    overflow: hidden;
    width: 2.462em;
    height: 2.462em;
    padding: 2.462em 2.462em 0 0;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    border: none !important;
}
video.noload {
    background: url("../img/loading.gif") 50% no-repeat !important;
    position: relative;
    overflow: hidden;
    width: 2.462em;
    height: 2.462em;
    padding: 2.462em 2.462em 0 0;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    border: none !important;
}
.title {
    font-size: 3em;
    text-align: left;
    color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    font-weight: 400;
    padding-top: 1px;
    margin: 0 auto;
}
.logintext {
    font-size: 3em;
    text-align: left;
    color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    font-weight: 400;
    padding-top: 1px;
    margin: 0 auto;
    text-decoration: underline;
}
@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  .title {
    font-size: 3em;
  }
}
div.inforight {
    text-align: right;
    display: block;
    position: fixed;
    right: 2%;
    top: 10%;
}
.loader {
    border: 1.231em solid #f3f3f3; /* Light grey */
    border-top: 1.231em solid #3498db; /* Blue */
    border-radius: 50%;
    width: 9.231em;
    height: 9.231em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.main p, .main li, .main ul, .main pre, .main s, .main del, .main span {
    font-size: 1.308em;
    color: black;
    font-weight: 200;
}
@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  .main p, .main li, .main ul{
    font-size: 1em;
  }
}
.main {
    padding-left: 15.385em !important;
    padding-right: 15.385em !important;
}
@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  .main {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}
.title2 {
    font-size: 2.692em;
    text-align: center;
    color: black;
   -webkit-text-fill-color: #595959; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    font-weight: 400;
}
.important {
    font-size: 6.154em;
    text-align: center;
    color: black;
   -webkit-text-fill-color: #ff4d4d; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    font-weight: 400;
}
div.img { 
    height: 7.692em;
    text-align:center; 
}

div.img img { 
    vertical-align:middle;
}
.main {
    display: none;
    line-height: 1.538em;
}
.menutop {
    z-index: 1000;
    text-align:center;
    position: fixed;
    list-style-type: none;
    margin: auto;
    top: 0 !important;
    width: 100%;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    overflow: hidden;
    font-weight: 200;
    font-family: 'Source Sans Pro';

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,bebebe+0,ebebeb+50,bebebe+100 */
    background: #bebebe; /* Old browsers */
}
.volumeBottom {
    z-index: 1000;
    text-align:center;
    position: fixed;
    list-style-type: none;
    margin: auto;
    bottom: 0 !important;
    width: 100%;
    padding: 0;
    height: 9px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    overflow: hidden;
    font-weight: 200;
    font-family: 'Source Sans Pro';

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,bebebe+0,ebebeb+50,bebebe+100 */
    background: rgb(200, 200, 200, 0.2); /* Old browsers */
}
.menubottom {
    z-index: 1000;
    text-align:center;
    position: fixed;
    list-style-type: none;
    margin: auto;
    bottom: 0 !important;
    width: 100%;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    overflow: hidden;
    font-weight: 200;
    font-family: 'Source Sans Pro';

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,0a0e0a+0,bebebe+0,ebebeb+50,bebebe+100 */
    background: rgb(200, 200, 200, 0.2); /* Old browsers */
}
@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  .menutop, .menubottom, .volumeBottom {
    position: static;
  }
}
.menutop li, .menubottom li {
    display: inline-block;
    transition: 0.4s;
}

.disableMenuElement {
    pointer-events:none;
    opacity:0.6;
}

.menuitemnoanim {
    display: inline-block;
    font-family: 'Source Sans Pro';
    vertical-align: middle;
    transform: scale(0.5, 1.15) !important;
    background: none !important;
}
.menubreaker {
    display: inline-block;
    font-family: 'Source Sans Pro';
    vertical-align: middle;
    line-height: normal;
    font-weight: 100;
    transform: none !important;
    background: none !important;
    padding-left: 10px;
    padding-right: 10px;
}
.menubreaker.menubottom {
    font-size: 32px;
    transform: scale(0.5, 1.15);
    margin-bottom: 30px;
}
.menubreaker.menutop {
    font-size: 10px;
    transform: scale(0.5, 1.15);
    margin-bottom: 5px;
}
.menutop p, .menutop span, .menubottom p, .menubottom span {
    margin-right: -100px;
    margin-left: -50px;
    display: inline-block;
    transform: scale(1.5,0.75);
}
.menulink {
    font-size: 1.538em;
    color: #4d4d4d;
    padding: 1.077em 1.231em;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    display:inline-block;
}
.menutop li:hover, .menubottom li:hover {
    transform: scale(1.1);
}
.menulink:hover {
    color: #cccccc;
}

@keyframes fadeout {
    0%  {opacity:1;}
    10% {opacity:0.9;}
    20% {opacity:0.8;}
    30% {opacity:0.7;}
    40% {opacity:0.6;}
    50% {opacity:0.5;}
    60% {opacity:0.4;}
    70% {opacity:0.3;}
    80% {opacity:0.2;}
    90% {opacity:0.1;}
    100% {opacity:0; display: none; visibility: none;}
}
@keyframes fadein {
    0%  {opacity:0;}
    10% {opacity:0.1;}
    20% {opacity:0.2;}
    30% {opacity:0.3;}
    40% {opacity:0.4;}
    50% {opacity:0.5;}
    60% {opacity:0.6;}
    70% {opacity:0.7;}
    80% {opacity:0.8;}
    90% {opacity:0.9;}
    100% {opacity:1;}
}
.fadeout {
    animation-name: fadeout;
    animation-duration: 0.3s;
    animation-fill-mode: both;
}
.fadein {
    animation-name: fadein;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    display: block !important;
}
.delayfadein {
    animation-name: fadein;
    animation-duration: 0.3s;
    animation-fill-mode: both;
    display: block !important;
}
.loginpasscode {
    -moz-border-radius-bottomright: 30px;
    -webkit-border-bottom-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
    -webkit-border-bottom-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid #848484;
    outline:0;
    height:25px;
    width: 275px;
    padding-left:20px;
    padding-right:20px;
}
hr.asep {
    padding: 0;
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    color: #333;
    text-align: center;
}
img.asep {
    display: block;
    position: relative;
    top: -2.1em;
    font-size: 1.5em;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    height: 50px;
}
.center {
    text-align: center;
}
.btncenter {
    float: left;
    margin-left: 38%;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.circle {
  border-radius: 50%;
  behavior: url(PIE.htc);
  /* remove if you don't care about IE8 */
  padding: 3px;
  border: 2px solid #666;
  color: #666;
  text-align: center;
}
.circle.selected {
    background-color: #666;
}
.fullScreenMap {
    min-height: 100%;
    position: inherit !important;
}
.fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 55px;
}
.controlButton {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 50px;
    font-size: 15px;
    text-align: center;
    background: rgba(200, 200, 200, 0.8);
    display: inline-block;
    cursor: pointer;
    font-family: 'Helvetica Neue';
    transition: 0.1 !important;
}
.controlButton.playPause {
    width: 75px;
    background: rgba(150, 150, 150, 0.8);
    font-size: 18px;
}
.controlButton:hover {
    background: rgba(200, 200, 200, 1);
    transform: scale(1.02) !important;
}
.controlButton.playPause:hover {
    background: rgba(100, 100, 100, 1);
    transform: scale(1.02) !important;
}
.controlButton.activeLoopShuffle {
    background: rgba(255,200,0, 0.8);
    transform: scale(1.1) !important;
}
#skitt-ui {
    position: fixed !important;
    top: 0.7% !important;
    left: 6% !important;
}
.songTitle {
    font-size: 18px;
}
.shadow {
  color: #131313;
  text-shadow: -2px 5px 20px #bebebe;
}
.loadBar {
    width: 200px;
    height: 20px;
}
.mapWrapper img, .mapWrapper h1, .mapWrapper p, .mapWrapper span, {
    position: fixed;
    z-index: 1000;
}
.mapWrapper {
    height: 100%;
    margin: 0;
}
